<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.big.song.credit.sup.mapper.TpecCtrctBsSgmtMapper" >
  <resultMap id="BaseResultMap" type="com.big.song.credit.sup.entity.po.TpecCtrctBsSgmt" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="credit_no" property="creditNo" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="id_type" property="idType" jdbcType="VARCHAR" />
    <result column="id_num" property="idNum" jdbcType="VARCHAR" />
    <result column="mngmt_org_code" property="mngmtOrgCode" jdbcType="VARCHAR" />
    <result column="cust_id" property="custId" jdbcType="VARCHAR" />
    <result column="dept_code" property="deptCode" jdbcType="VARCHAR" />
    <result column="corp_code" property="corpCode" jdbcType="VARCHAR" />
    <result column="info_up_date" property="infoUpDate" jdbcType="TIMESTAMP" />
    <result column="transaction_id" property="transactionId" jdbcType="VARCHAR" />
    <result column="operator" property="operator" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, credit_no, name, id_type, id_num, mngmt_org_code, cust_id, dept_code, corp_code, 
    info_up_date, transaction_id, operator
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.big.song.credit.sup.entity.po.TpecCtrctBsSgmtExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from tpec_ctrct_bs_sgmt
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tpec_ctrct_bs_sgmt
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tpec_ctrct_bs_sgmt
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.big.song.credit.sup.entity.po.TpecCtrctBsSgmtExample" >
    delete from tpec_ctrct_bs_sgmt
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.big.song.credit.sup.entity.po.TpecCtrctBsSgmt" >
    insert into tpec_ctrct_bs_sgmt (id, credit_no, name, 
      id_type, id_num, mngmt_org_code, 
      cust_id, dept_code, corp_code, 
      info_up_date, transaction_id, operator
      )
    values (#{id,jdbcType=BIGINT}, #{creditNo,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{idType,jdbcType=VARCHAR}, #{idNum,jdbcType=VARCHAR}, #{mngmtOrgCode,jdbcType=VARCHAR}, 
      #{custId,jdbcType=VARCHAR}, #{deptCode,jdbcType=VARCHAR}, #{corpCode,jdbcType=VARCHAR}, 
      #{infoUpDate,jdbcType=TIMESTAMP}, #{transactionId,jdbcType=VARCHAR}, #{operator,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.big.song.credit.sup.entity.po.TpecCtrctBsSgmt" >
    insert into tpec_ctrct_bs_sgmt
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="creditNo != null" >
        credit_no,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="idType != null" >
        id_type,
      </if>
      <if test="idNum != null" >
        id_num,
      </if>
      <if test="mngmtOrgCode != null" >
        mngmt_org_code,
      </if>
      <if test="custId != null" >
        cust_id,
      </if>
      <if test="deptCode != null" >
        dept_code,
      </if>
      <if test="corpCode != null" >
        corp_code,
      </if>
      <if test="infoUpDate != null" >
        info_up_date,
      </if>
      <if test="transactionId != null" >
        transaction_id,
      </if>
      <if test="operator != null" >
        operator,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="creditNo != null" >
        #{creditNo,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="idType != null" >
        #{idType,jdbcType=VARCHAR},
      </if>
      <if test="idNum != null" >
        #{idNum,jdbcType=VARCHAR},
      </if>
      <if test="mngmtOrgCode != null" >
        #{mngmtOrgCode,jdbcType=VARCHAR},
      </if>
      <if test="custId != null" >
        #{custId,jdbcType=VARCHAR},
      </if>
      <if test="deptCode != null" >
        #{deptCode,jdbcType=VARCHAR},
      </if>
      <if test="corpCode != null" >
        #{corpCode,jdbcType=VARCHAR},
      </if>
      <if test="infoUpDate != null" >
        #{infoUpDate,jdbcType=TIMESTAMP},
      </if>
      <if test="transactionId != null" >
        #{transactionId,jdbcType=VARCHAR},
      </if>
      <if test="operator != null" >
        #{operator,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.big.song.credit.sup.entity.po.TpecCtrctBsSgmtExample" resultType="java.lang.Integer" >
    select count(*) from tpec_ctrct_bs_sgmt
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tpec_ctrct_bs_sgmt
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.creditNo != null" >
        credit_no = #{record.creditNo,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.idType != null" >
        id_type = #{record.idType,jdbcType=VARCHAR},
      </if>
      <if test="record.idNum != null" >
        id_num = #{record.idNum,jdbcType=VARCHAR},
      </if>
      <if test="record.mngmtOrgCode != null" >
        mngmt_org_code = #{record.mngmtOrgCode,jdbcType=VARCHAR},
      </if>
      <if test="record.custId != null" >
        cust_id = #{record.custId,jdbcType=VARCHAR},
      </if>
      <if test="record.deptCode != null" >
        dept_code = #{record.deptCode,jdbcType=VARCHAR},
      </if>
      <if test="record.corpCode != null" >
        corp_code = #{record.corpCode,jdbcType=VARCHAR},
      </if>
      <if test="record.infoUpDate != null" >
        info_up_date = #{record.infoUpDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.transactionId != null" >
        transaction_id = #{record.transactionId,jdbcType=VARCHAR},
      </if>
      <if test="record.operator != null" >
        operator = #{record.operator,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tpec_ctrct_bs_sgmt
    set id = #{record.id,jdbcType=BIGINT},
      credit_no = #{record.creditNo,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      id_type = #{record.idType,jdbcType=VARCHAR},
      id_num = #{record.idNum,jdbcType=VARCHAR},
      mngmt_org_code = #{record.mngmtOrgCode,jdbcType=VARCHAR},
      cust_id = #{record.custId,jdbcType=VARCHAR},
      dept_code = #{record.deptCode,jdbcType=VARCHAR},
      corp_code = #{record.corpCode,jdbcType=VARCHAR},
      info_up_date = #{record.infoUpDate,jdbcType=TIMESTAMP},
      transaction_id = #{record.transactionId,jdbcType=VARCHAR},
      operator = #{record.operator,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.big.song.credit.sup.entity.po.TpecCtrctBsSgmt" >
    update tpec_ctrct_bs_sgmt
    <set >
      <if test="creditNo != null" >
        credit_no = #{creditNo,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="idType != null" >
        id_type = #{idType,jdbcType=VARCHAR},
      </if>
      <if test="idNum != null" >
        id_num = #{idNum,jdbcType=VARCHAR},
      </if>
      <if test="mngmtOrgCode != null" >
        mngmt_org_code = #{mngmtOrgCode,jdbcType=VARCHAR},
      </if>
      <if test="custId != null" >
        cust_id = #{custId,jdbcType=VARCHAR},
      </if>
      <if test="deptCode != null" >
        dept_code = #{deptCode,jdbcType=VARCHAR},
      </if>
      <if test="corpCode != null" >
        corp_code = #{corpCode,jdbcType=VARCHAR},
      </if>
      <if test="infoUpDate != null" >
        info_up_date = #{infoUpDate,jdbcType=TIMESTAMP},
      </if>
      <if test="transactionId != null" >
        transaction_id = #{transactionId,jdbcType=VARCHAR},
      </if>
      <if test="operator != null" >
        operator = #{operator,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.big.song.credit.sup.entity.po.TpecCtrctBsSgmt" >
    update tpec_ctrct_bs_sgmt
    set credit_no = #{creditNo,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      id_type = #{idType,jdbcType=VARCHAR},
      id_num = #{idNum,jdbcType=VARCHAR},
      mngmt_org_code = #{mngmtOrgCode,jdbcType=VARCHAR},
      cust_id = #{custId,jdbcType=VARCHAR},
      dept_code = #{deptCode,jdbcType=VARCHAR},
      corp_code = #{corpCode,jdbcType=VARCHAR},
      info_up_date = #{infoUpDate,jdbcType=TIMESTAMP},
      transaction_id = #{transactionId,jdbcType=VARCHAR},
      operator = #{operator,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>